{% extends 'base/_base.html' %}

{% block content %}
{% if page == 'login' %}
<div class="login-register-container">
    <div class="login-register-box">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
           <label>Username</label>
            <input type="text" name="username" placeholder="Username" required>
            <label>Password</label>
            <input type="password" name="password" placeholder="Password" required>

            <input type="submit" value="Login">
        </form>
    </div>

    <p>Don't have an account? </p>
    <a href="{% url 'register' %}">Sign Up</a>
{% else %}
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already have an account?</p>
        <a href="{% url 'login' %}">Sign In</a>
    </div>
{% endif %}
{% endblock %}
